footer
{ 
	position: fixed; bottom: 5px; right : 0px; left : 0px;
}

intro
{
	background-color: #097AD0;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
	text-center ;
}